table {
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #b0b0b0;
  border-collapse: collapse;
}

th,
td {
  padding: 2px 5px;
}

th {
  background-color: #d4d4d4;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr {
  transition: background-color 0.2s;
}

tr:hover {
  background-color: #e6eef4
}

.loading-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}